:root { --font-size: 150%; }

button {
    padding: 0;
    margin: 0;
    font-size: 0.75em;
    min-width: 1.25em;
    max-width: 1.25em;
    min-height: 1.25em;
    max-height: 1.25em;
    align-items: center;
    justify-content: center;
}

[contenteditable="plaintext-only"] {
    flex: 1;
    border: 1px solid #888;
    min-width: 0.75em;
    max-width: 0.75em;
}

.content > * {
    display: inline-flex;
    align-items: center;
    gap: 0.5em;
    margin: 0.5em 0;
}

.content > *:last-child { margin-bottom: 0; }
